<!-- chapter.ejs -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="HOW">
<head>
    <!-- META -->
    <title>Heroes on the Water | Chapter</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://localhost:8080/js/core.js"></script>
    <script src="http://localhost:8080/js/controllers/regionsController.js"></script>
    <script src="http://localhost:8080/js/controllers/chaptersController.js"></script>
    <script src="http://localhost:8080/js/controllers/eventsController.js"></script>
    <script src="http://localhost:8080/js/services/main.js"></script>
    <script src="http://localhost:8080/js/links/bootstrap.min.js"></script>

    <!-- Custom Theme Style -->
    <link href="http://localhost:8080/build/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:8080/css/events.css">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- FAVICON -->
    <link rel="icon" href="http://heroesonthewater.org/wp-content/uploads/2014/04/logo-ready-ad.png" type="image/png">

</head>
<body class="nav-md">
<div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
          <div class="nav toggle text-center pull-right">
            <a id="menu_toggle"><i class="fa fa-bars" style="color:white"></i></a>
          </div>
            <div class="navbar nav_title text-center" style="padding: 0;border: 0;">
                <a href="/" class="site_title" style="padding-bottom:200px; padding-left: 0px;"> <img style="max-width:75%; width=auto; height=auto; " src="../../../img/home/logo-ready2.png" alt="..." class="img-circle profile_img"></a>
            </div>

            <div class="clearfix"></div>

              <!-- sidebar menu -->
            <div id="sidebar-menu" style="padding-top:40px;" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                <% if (user.local.name == "admin") { %>
                  <h3>administrator</h3>
                <%} else if (user.local.type == "participant") { %>
                  <h3>participant</h3>
                <%} else if (user.local.type == "volunteer") { %>
                  <h3>volunteer</h3>
                <% } else if (user.local.type == "manager") { %>
                  <h3>manager</h3>
                <% } else if (user.local.type == "founder") {  %>
                  <h3>founder</h3>
                <% } %>
                  <li><a href="/profile"><i class="fa fa-home"></i> Home </a></li>
                  <li><a href="/events"><i class="fa fa-calendar-check-o"></i> Events </a></li>
                  <!--Manage-->
                  <% if (user.local.name == "admin") { %>
                  <li><a href="/admin"><i class="fa fa-pencil"></i> Manage </a></li>
                  <li><a href="/admin/donors"><i class="fa fa-usd"></i> Donors</a></li>
                  <% } else if (user.manager) { %>
                      <% if (user.manager.event) { %> <!--event manager-->
                          <li><a href="/manager/<%= user.manager.region %>/<%= user.manager.chapter %>/<%= user.manager.event %>"><i class="fa fa-pencil"></i> Manage</a></li>
                      <% } else if (user.manager.chapter) { %> <!--chapter manager-->
                          <li><a href="/manager/<%= user.manager.region %>/<%= user.manager.chapter %>"><i class="fa fa-pencil"></i> Manage</a></li>
                      <% } else if (user.manager.region) { %> <!--region manager-->
                          <li><a href="/manager/<%= user.manager.region %>"><i class="fa fa-pencil"></i> Manage</a></li>
                      <% } %>  
                    <li><a href="/admin/donors"><i class="fa fa-usd"></i> Donors</a></li>
                  <% } %>

                  <li><a href="/donate"><i class="fa fa-hand-o-right"></i> Donate </a></li>
                  <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout </a></li>
                  <li><a href="/settings"><i class="fa fa-cog"></i> Settings </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><%= user.local.name %><span class=" fa fa-angle-down"> </span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="/settings"><i class="fa fa-cog pull-right"></i>Settings</a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>

      <div class="right_col" role="main">
        <!-- top tiles -->
        <div class="row tile_count">
          <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Participants</span>
            <div class="count">0</div>
            <span class="count_bottom"><i class="green">0% </i> From last month</span>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-heart-o"></i> Volunteers</span>
            <div class="count">0</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last month </span>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-users"></i> Chapters </span>
            <div class="count">0</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last month </span>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-usd"></i> Donations Collected</span>
            <div class="count">0</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last month </span>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-eye"></i> Site Views</span>
            <div class="count">0</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last month </span>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-sign-in"></i> Logins </span>
            <div class="count">0</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> From last month </span>
          </div>
        </div>
        
        <div class="row" ng-controller="eventsController">
            <div class="row">
                <div class="jumbotron text-center">
                    <h1> Manage: <%= region.chapters.name %> </h1>
                    <h3> Within region: <%= region.name %> </h3>
                </div>
            </div>
        <!-- FORM TO CREATE EVENTS -->
        <div id="event-creation-form" class="row creation-form">
            <h3 class="text-center"> EVENT CREATION </h3>
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-sm text-center" placeholder="Insert name here" ng-model="formData.name">
                        <br>
                        <input type="text" class="form-control input-sm text-center" placeholder="Insert date here" ng-model="formData.date">
                        <br>
                        <input type="text" class="form-control input-sm text-center" placeholder="Insert start here" ng-model="formData.start"><br>
                        <input type="text" class="form-control input-sm text-center" placeholder="Insert end here" ng-model="formData.end">
                        <br>
                        <input type="text" class="form-control input-sm text-center" placeholder="Insert venue here" ng-model="formData.venue">
                        <br>
                        <input type="text" class="form-control input-sm text-center" placeholder="Insert description here" ng-model="formData.description" maxlength="500">
                    </div>
                </form>
            </div>

            <!-- createEvent() WILL CREATE NEW Events -->
            <button type="submit" class="btn btn-primary btn-sm col-sm-4 col-sm-offset-4" ng-click="createEvent(<%= JSON.stringify(region) %>)">Add Event</button>
        </div>

        <br>
        <hr>
        <br>

        <!-- list of events in chapter -->
        <% for(var i=0; i < region.chapters.events.length; i++) {%>
        <div class="col-sm-12 event">
                <div class="col-sm-4">
                    <h3>Event: <%= region.chapters.events[i].name %></h3>
                    <h4>Date: <%= region.chapters.events[i].date %></h4>
                </div>
                <div class="col-sm-6" ng-controller="userController">
                    <div class="col-sm-9">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm text-center" placeholder="email" ng-model="formData.email">
                        </div>
                    </form>
                    </div>
                    <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="addEventPermission(<%= JSON.stringify(region) %>)">Add</button>
                    </div>
                </div>
                <div class="col-sm-1">
                    <a type="submit" class="btn btn-primary btn-sm" href="/manager/<%= region.name %>/<%= region.chapters.name %>/<%= region.chapters.events[i].name %>">Manage</a>
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="deleteEvent(event.name)">Delete</button>
                </div>
        </div>
        <% } %>
    </div>
    </div>
    </div>
    </div>
</body>
    <script src="http://localhost:8080/build/js/custom.min.js"></script>
</html>