<!-- event.ejs -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="HOW">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Heroes on the Water</title>

    <!--Styles-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="../../css/animate.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/event.css">

    <!--Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet'
        type='text/css'>


    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://localhost:8080/js/core.js"></script>
    <script src="http://localhost:8080/js/controllers/regionsController.js"></script>
    <script src="http://localhost:8080/js/controllers/chaptersController.js"></script>
    <script src="http://localhost:8080/js/controllers/eventsController.js"></script>
    <script src="http://localhost:8080/js/services/main.js"></script>
    <script src="http://localhost:8080/js/links/modernizr-2.7.1.js"></script>

    <!-- FAVICON -->
    <link rel="icon" href="http://heroesonthewater.org/wp-content/uploads/2014/04/logo-ready-ad.png" type="image/png">

    <!--BOOTSTRAP SELECT-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
                <a class="logo" href="/"><img src="../../img/home/logo-ready2.png" alt="Logo"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/signup">Sign up</a></li>
                </ul>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <a href="/"><img src="../../img/home/logo-ready2.png" alt="Logo"></a>
            </div>
            <div class="col-xs-6 signin text-right navbar-black">
                <a href="/login">Log In</a>&nbsp; &nbsp;<a href="/signup">Sign Up</a>
            </div>
        </div>
    </div>

    <section id="main-info">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2 text-center" ng-controller="eventsController">
                <h1 class="text-center black">Event:
                    <%= region.chapters.events.name %>
                </h1>
                <h4 class="text-center black">Region:
                    <%= region.name %>
                </h4>
                <h4 class="text-center black">Chapter:
                    <%= region.chapters.name %>
                </h4>
            </div>

            <div class="row" ng-controller="eventsController">
                <!--DATE AND TIME-->
                <div class="col-sm-4 wow fadeIn" data-wow-delay="0.4s">
                    <hr class="line purple">
                    <h3>Date:
                        <%= region.chapters.events.date %>
                    </h3>
                    <p>Start:
                        <%= region.chapters.events.start %>
                    </p>
                    <p>End:
                        <%= region.chapters.events.end %>
                    </p>
                </div>

                <!--VENUE AND DESCRIPTION-->
                <div class="col-sm-4 wow fadeIn" data-wow-delay="0.8s">
                    <hr class="line blue">
                    <h3>Venue:
                        <%= region.chapters.events.venue %>
                    </h3>
                    <p>Description:
                        <%= region.chapters.events.description %>
                    </p>
                </div>

                <!--INVENTORY-->
                <div class="col-sm-4 wow fadeIn black" data-wow-delay="1.2s">
                    <hr class="line yellow">
                    <h3>Inventory</h3>
                    <p>
                        <% for(var i=0; i < region.chapters.events.inventory.length; i++) {%>
                            <p>
                                <%= region.chapters.events.inventory[i].number %>
                                    <%= region.chapters.events.inventory[i].item %>
                            </p>
                            <%} %>
                    </p>
                </div>

                <!--ADD INVENTORY-->
                <div class="row">
                    <!-- FORM TO ADD INVENTORY -->
                    <div id="inventory-addition-form">
                        <!--<h1 class="text-center"> ADD INVENTORY </h1>-->
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <form>
                                <!--<input type="text" class="form-control text-center" placeholder="Insert Item" ng-model="formData.item">-->
                                <!--<input type="number" class="form-control text-center" placeholder="Insert Number" ng-model="formData.number">-->
                            </form>
                        </div>

                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 col-xs-offset-2">
                        <div class="form-group">
                            <select class="form-control" ng-model="formData.item" placeholder="Select inventory item here">
                                <optgroup label="Boating">
                                    <option>Kayaks</option>
                                    <option>Oars</option>
                                </optgroup>
                                <optgroup label="Fishing">
                                    <option>Fishing Poles</option>
                                    <option>Bait Sets</option>
                                    <option>Life Vests</option>
                                </optgroup>
                                <optgroup label="Management">
                                    <option>Laptops</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                                <input type="number" class="form-control " placeholder="Insert Number" ng-model="formData.number">
                        </div>
                    </div>

                    <!--ADD INVENTORY BUTTON-->
                    <button type="submit" class="btn btn-primary btn-lg col-sm-4 col-sm-offset-4" ng-click="addInventory(<%= JSON.stringify(region) %>)">Add Inventory</button>
                </div>

                <!--DELETE BUTTON-->
                <hr class="line black">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-sm delete" ng-click="deleteEvent(event.name)">Delete This Event</button>
                </div>
            </div>
        </div>
    </section>

    </div>

    </div>
    </section>

</body>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 margin-20">
                <ul class="list-inline social">
                    <li>Connect with us on</li>
                    <li><a href="https://twitter.com/Heroesonthewate"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/HeroesontheWater"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://www.youtube.com/user/PaddleFishHeal"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/heroes-on-the-water?trk=company_name"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script src="../../js/jquery-1.11.0.min.js"><\/script>')</script>
<script src="../../js/links/wow.min.js"></script>
<script src="../../js/links/bootstrap.min.js"></script>
<script src="../../js/links/main.js"></script>


</html>