<!-- region.ejs -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="HOW">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Heroes on the Water</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style>
        html            { overflow-y:scroll; }
        body            { padding-top:50px; padding-bottom: 50px;}
        .creation-form  { margin: 20px; }
        .chapter   { background-color: #FFE4C4; overflow: hidden; margin: 0 auto;}
        .event     { background-color: #FFEBCD; overflow: hidden; margin: 0 auto;}
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="js/core.js"></script>
    <script src="js/controllers/regionsController.js"></script>
    <script src="js/controllers/chaptersController.js"></script>
    <script src="js/controllers/eventsController.js"></script>
    <script src="js/services/main.js"></script>

    <!-- FAVICON -->
    <link rel="icon" href="http://heroesonthewater.org/wp-content/uploads/2014/04/logo-ready-ad.png" type="image/png">

</head>
<body>
    <div class="container" ng-controller="chaptersController">

        <h1 class="text-center">Region: <%= region.name %></h1>
        <!-- FORM TO CREATE CHAPTERS -->
        <div id="chapter-creation-form" class="row creation-form">
            <h1 class="text-center"> CHAPTER CREATION </h1>
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Insert name here" ng-model="formData.name">
                        <br>
                        <input type="text" class="form-control input-lg text-center" placeholder="Insert location here" ng-model="formData.location">
                    </div>
                </form>
            </div>

            <!-- createChapter() WILL CREATE NEW Chapter -->
            <button type="submit" class="btn btn-primary btn-lg col-sm-4 col-sm-offset-4" ng-click="createChapter(<%= JSON.stringify(region) %>)">Add Chapter</button>
        </div>

        <!-- list of chapters and events in each chapter -->
        <% for(var i=0; i < region.chapters.length; i++) {%>
            <div class="col-sm-12 chapter">
                <div>
                    <div class="col-sm-4">
                        <h2>Chapter: <%= region.chapters[i].name %></h2>
                        <p>Location: <%= region.chapters[i].location %></p>
                    </div>
                    <div class="col-sm-6" ng-controller="userController">
                        <div class="col-sm-10">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control input-sm text-center" placeholder="email" ng-model="formData.email">
                            </div>
                        </form>
                        </div>
                        <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="addchapterPermission(<%= JSON.stringify(region) %>)">Add</button>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <a type="submit" class="btn btn-primary btn-sm" href="/<%= region.name %>/<%= region.chapters[i].name %>">Manage</a>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="deleteChapter(event.name)">Delete</button>
                    </div>
                </div>
                <!-- list of events in chapter -->
                <% for(var j=0; j < region.chapters[i].events.length; j++) {%>
                <div class="col-sm-12 event">
                        <div class="col-sm-4">
                            <h3>Event: <%= region.chapters[i].events[j].name %></h3>
                            <h4>Date: <%= region.chapters[i].events[j].date %></h4>
                            <h4>Start: <%= region.chapters[i].events[j].start %></h4>
                            <h4>End: <%= region.chapters[i].events[j].end %></h4>
                            <h4>Venue: <%= region.chapters[i].events[j].venue %></h4>
                            <p>Description: <%= region.chapters[i].events[j].description %></p>
                            <p>Inventory:</p>
                            <% for(var k=0; k < region.chapters[i].events[j].inventory.length; k++) {%>
                                <p> <%= region.chapters[i].events[j].inventory[k].number %> <%= region.chapters[i].events[j].inventory[k].item %></p>
                            <%} %>
                        </div>
                        <div class="col-sm-6" ng-controller="userController">
                            <div class="col-sm-9">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm text-center" placeholder="email" ng-model="formData.email">
                                </div>
                            </form>
                            </div>
                            <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary btn-sm" ng-click="addEventPermission(<%= JSON.stringify(region) %>)">Add</button>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <a type="submit" class="btn btn-primary btn-sm" href="/<%= region.name %>/<%= region.chapters[i].name %>/<%= region.chapters[i].events[j].name %>">Manage</a>
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-primary btn-sm" ng-click="deleteEvent(event.name)">Delete</button>
                        </div>
                </div>
                <% } %>
            </div>
        <% } %>        
    </div>
</body>
</html>